<h1>Menu hospitales Api</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-action="Cliente" asp-controller="Hospitales" class="btn btn-dark">
            Cliente
        </a>
    </li>
</ul>